*{
	outline: none;
	padding: 0px;
	margin: 0px;
}
.cal_outline{
	width:200px;
	text-align: center;
	border: 2px solid black;
	border-radius: 5px;
	margin-left: 600px;
	margin-top: 100px;
	background-color: burlywood;

}
.cal_input{
	width: 80%;
	height: 40px;
	border: 2px solid black;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 20px;
	
}
.cal_button{
	background-color: black;
}

.button{
	width: 40px;
	height: 40px;
	margin: 5px;
	font-size: 20px;

}